@values makerWhite, makerGreen from '/src/common/colors.css';

.header {
  background-color: #385461;
  padding: 7px;
  position: relative;
  text-align: center;
}

.header img {
  display: block;
  margin: 0 auto;
  width: 50px;
}

.header h1 {
  color: makerWhite;
}

.signOutButton {
  position: absolute;
  top: 14px;
  right: 10px;
}

.header svg {
  font-size: 1.2rem;
  color: makerWhite;
}