@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@value makerBlack from './common/colors.css';
@value makerWhite from './common/colors.css';
@value makerLightGrey from './common/colors.css';
@value makerLightPink from './common/colors.css';
@value makerGrey from './common/colors.css';
@value makerGreen from './common/colors.css';
@value makerPink from './common/colors.css';
@value makerShadow from './common/colors.css';
@value makerColorful from './common/colors.css';
@value makerWheat from './common/colors.css';
@value mediaQuery from './common/size.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: makerGrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

@media screen and (max-width: mediaQuery) {
  body {
    height: auto;
  }
}