.video {
  display: flex;
  align-items: center;
  border: 2px solid gainsboro;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.video.selected {
  flex-basis: 100%;
}

.video.unselected {
  flex-basis: 48%;
}

.video:hover {
  transform: scale(1.03);
}

.thumbnail {
  width: 40%;
  height: 100%;
}

.metadata {
  margin-left: 8px;
  margin-right: 8px;
}

.title {
  margin-bottom: 6px;
}

/* 멀티라인 말줄임 표시 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word; 
}

@media screen and (max-width: 767px) {
  .video.unselected {
    flex-basis: 100%;
  }
}