@value makerBlack, makerWhite, makerColorful from '/src/common/colors.css';

.card {
  background-color: makerBlack;
  color: makerWhite;
  font-size: 0.96rem;
  width: 80%;
  height: 191px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  padding: 24px;
  border: 1px solid #626262;
  border-radius: 20px;
}

.photo {
  width: 22%;
  margin-right: 35px;
  border-radius: 50%;
}

.information {
  width: 100%;
}

.information__main {
  /* border-bottom: 1px solid; */
  margin-bottom: 12px;
}

.information__main::after {
  content: '';
  display: block;
  background-color: makerBlack;
  width: 80%;
  height: 1px;
  transform: translateY(6px);
}

.information__main h2 {
  margin-bottom: 3px;
}

.information__sub span {
  display: block;
  margin-bottom: 2px;
}

.motto {
  margin-top: 7px;
}

.themeBlack {
  background-color: makerBlack;
  color: makerWhite;
}
.themeBlack .information__main::after {
  background-color: bisque;
}

.themeWhite {
  background-color: makerWhite;
  color: makerBlack;
}
.themeWhite .information__main::after {
  background-color: #626262
}

.themeColorful {
  background: makerColorful;
  color: makerBlack;
}
.themeColorful .information__main::after {
  background-color: makerWhite;
}