@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

h4 {
  font-size: 16px;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

p {
  margin: 0;
  font-size: 14px;
}

.app {
  max-width: 80rem;
}

body {
  padding: 0 100px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoContent {
  display: flex;
}

@media screen and (max-width: 767px) {
  .videoContent {
    flex-direction: column;
  }
}