@values makerWhite, makerGreen, makerLightPink from '/src/common/colors.css';

.login {
  text-align: center;
  width: 450px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content {
  padding: 18px 10px;
  background-color: makerWhite;
}

.content h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.content button {
  display: block;
  width: 100%;
  margin: 0 auto;
  color: #354b55;
  border: 2.4px solid makerGreen;
  border-radius: 15px;
  padding: 8px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 15px;
}

.content button:hover {
  background-color: makerLightPink;
}