@values makerWhite, makerGreen from '/src/common/colors.css';

.footer {
  background-color: makerGreen;
  padding: 10px;
  text-align: center;
}

.footer h3 {
  color: makerWhite;
  font-size: 0.8rem;
  font-weight: normal;
}