@value makerWhite from '/src/common/colors.css';

.main {
  width: 80vw;
}

.content {
  height: 80vh;
  background-color: makerWhite;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .content {
    flex-direction: column;
  }
}